.aside-column__popular-card-img {
	object-fit: cover;
	object-position: center;
	transition: transform .3s ease;
}

.aside-column__popular-card:hover .aside-column__popular-card-img {
	transform: scale(110%);
}