.form__input {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #171717;

	padding: 17px 15px 15px;
	border: 1px solid #E5E5E5;
	border-radius: 3px;
	margin-bottom: 10px;
}

.form__input::placeholder {
	color: #AEB3BB;
}

.form__input::-moz-placeholder {
	color: #AEB3BB;
}

.form__input::-webkit-input-placeholder {
	color: #AEB3BB;
}