.tag-line__link {
	text-decoration: none;
	border-radius: 3px;
	transition: background-color .3s ease;
	height: 100%;

	font-size: 12px;
	line-height: 16px;
	color: white;
	padding: 0 12px;
	background-color: #4A90E2;

	display: flex;
	justify-content: center;
	align-items: center;
}

.tag-line__link:hover {
	background-color: #2765ad;
}