.tag-line__link_place_last-news {
	font-size: 12px;
	line-height: 16px;
	color: white;
	padding: 6px 12px 4px;
	background-color: #4A90E2;
}

.tag-line__link_place_last-news:hover {
	background-color: #2765ad;
}